In [35]:
import awswrangler as wr
import boto3
import os
import pathlib
import pandas as pd

In [ ]:


updated_MarApr = pd.read_csv("updated_data_MarApr.csv")

In [40]:
raw_s3_bucket = "chigozieobasi"
raw_path_dir = "guardian_api"
csv_path = "updated_MarApr_CSV"
write_path = f"s3://{raw_s3_bucket}/{raw_path_dir}/{csv_path}"

In [ ]:
wr.s3.to_parquet(df=updated_MarApr, path=write_path, dataset=True, mode="append")
wr.s3.to_csv(df=updated_MarApr, path=write_path, dataset=True, mode="append")

In [ ]:
new_updated_MarApr = pd.read_csv("updated_data_MarApr.csv")

In [ ]:
raw_s3_bucket = "chigozieobasi"
raw_path_dir = "guardian_api"
csv_path = "new_updated_MarApr"
write_path = f"s3://{raw_s3_bucket}/{raw_path_dir}/{csv_path}"

In [ ]:
wr.s3.to_parquet(df=new_updated_MarApr, path=write_path, dataset=True, mode="append")
wr.s3.to_csv(df=new_updated_MarApr, path=write_path, dataset=True, mode="append")

{'paths': ['s3://chigozieobasi/guardian_api/new_updated_MarApr/60ac8f2c73c64cce99929edf96891b1e.snappy.parquet'],
 'partitions_values': {}}

### A different approach to writing the data to S3

In [54]:
updated_file = os.path.join(pathlib.Path("__file__").parent.resolve(), "updated_data_MarApr.csv")

print(updated_file)

/home/basifrank/data_engineering_training/python_training/python_api_training/updated_data_MarApr.csv

In [55]:
raw_s3_bucket = "chigozieobasi"
raw_path_dir = "guardian_api"
csv_path = "new_updated_MarApr"
write_path = f"s3://{raw_s3_bucket}/{raw_path_dir}/{csv_path}"

In [56]:
wr.s3.upload(local_file=updated_file, path=write_path + "/updated_data_MarApr.csv", boto3_session=boto3.Session())

In [57]:
raw_df = wr.s3.read_csv(path=write_path, header=0, path_suffix=['.csv'])
raw_df.head(5)

,publishedDate,sectionName,webTitle,webUrl
0,2025-03-16T09:34:27Z,World news,‘We are all Natasha’: senator’s sexual harassm...,https://www.theguardian.com/world/2025/mar/16/...
1,2025-04-01T07:12:06Z,World news,Niger’s junta withdraws from Lake Chad anti-Is...,https://www.theguardian.com/world/2025/apr/01/...
2,2025-03-08T07:00:15Z,World news,Around the world in 60 hours: Nigerian aims to...,https://www.theguardian.com/world/2025/mar/08/...
3,2025-03-19T12:00:56Z,Books,Where to start with: Chimamanda Ngozi Adichie,https://www.theguardian.com/books/2025/mar/19/...
4,2025-04-01T09:00:13Z,Global development,"Snakes, ‘border madness’ and solo trips: five ...",https://www.theguardian.com/global-development...

In [58]:
# Convert to Parquet
wr.s3.to_parquet(df=raw_df, path=write_path, dataset=True, mode="append")

{'paths': ['s3://chigozieobasi/guardian_api/new_updated_MarApr/27a2ef5400b14230a7bdde7852bcbc97.snappy.parquet'],
 'partitions_values': {}}

In [59]:
# Read back the Parquet file
df = wr.s3.read_parquet(path=write_path, path_suffix=['.parquet'])
df.head(5)

,publishedDate,sectionName,webTitle,webUrl
0,2025-03-16T09:34:27Z,World news,‘We are all Natasha’: senator’s sexual harassm...,https://www.theguardian.com/world/2025/mar/16/...
1,2025-04-01T07:12:06Z,World news,Niger’s junta withdraws from Lake Chad anti-Is...,https://www.theguardian.com/world/2025/apr/01/...
2,2025-03-08T07:00:15Z,World news,Around the world in 60 hours: Nigerian aims to...,https://www.theguardian.com/world/2025/mar/08/...
3,2025-03-19T12:00:56Z,Books,Where to start with: Chimamanda Ngozi Adichie,https://www.theguardian.com/books/2025/mar/19/...
4,2025-04-01T09:00:13Z,Global development,"Snakes, ‘border madness’ and solo trips: five ...",https://www.theguardian.com/global-development...

### Uploading Python File

In [60]:
py_request_code = os.path.join(pathlib.Path("__file__").parent.resolve(), "guardian_apirequests.py")
print(py_request_code)

/home/basifrank/data_engineering_training/python_training/python_api_training/guardian_apirequests.py

In [61]:
raw_s3_bucket = "chigozieobasi"
raw_path_dir = "guardian_api"
csv_path = "py_request_code"
write_path = f"s3://{raw_s3_bucket}/{raw_path_dir}/{csv_path}"

In [62]:
wr.s3.upload(local_file=py_request_code, path=write_path + "/guardian_apirequests.py", boto3_session=boto3.Session())